!Build/**/*.ico
!Build/*/
!Build/*/PakBlacklist*.txt
._*
.DS_Store
.Spotlight-V100
.Trashes
.vs
.vs/
.vscode
.vscode/
*_BuiltData.uasset
*.a
*.app
*.autosave
*.dll
*.dmp
*.DS_Store
*.dylib
*.exe
*.gch
*.ipa
*.la
*.lai
*.lib
*.lo
*.log
*.mod
*.o
*.obj
*.opendb
*.opensdf
*.out
*.pch
*.pdb
*.sdf
*.sln
*.slo
*.so
*.suo
*.user
*.userprefs
*.VC.db
*.VC.opendb
*.xcodeproj
*.xcworkspace
Binaries/
Binaries/*
Build/
Build/*
Build/*/**
Builds
Builds/
Config/*.ini~
Content/Megascans/
Content/Movies
Content/MSPresets/
Content/TinySet03Terrazzo/
DerivedDataCache
DerivedDataCache/
DerivedDataCache/*
ehthumbs.db
Intermediate
Intermediate/
Intermediate/*
Movies
other \scripts\layouts
other \scripts\node_modules
Plugins/*/Binaries/*
Plugins/*/Intermediate/*
Saved
Saved/
Saved/*
SourceArt/**/*.png
SourceArt/**/*.tga
steamworks_sdk_153a
Thumbs.db